@tailwind base;
@layer base {
	h1 {
		@apply text-5xl text-gray-600 font-semibold tracking-wider uppercase;
	}
	h2 {
		@apply text-4xl text-gray-600 font-semibold tracking-wider uppercase;
	}
	h3 {
		@apply text-3xl text-gray-600 font-semibold tracking-wider uppercase;
	}
	h4 {
		@apply text-2xl text-gray-600 font-semibold tracking-wider uppercase;
	}
	h5 {
		@apply text-xl text-gray-600 font-semibold tracking-wider uppercase;
	}
}

@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
} */
/* html,
body {
	font-family: "Montserrat", sans-serif;
} */
body {
	position: relative;
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	background: #fff;
	overflow-x: hidden;
	min-width: 20rem;
}

input,
select,
textarea {
	@apply rounded border p-2 outline-none ring-lime-400 resize-none focus:ring;
}

.dropdown-link {
	@apply flex p-2 rounded text-white hover:bg-gray-200 hover:text-gray-600 transition-all;
}

/* slider-main-banner */
.slider-main-banner .swiper-pagination-bullet {
	@apply w-6 h-1 rounded bg-black/70;
}

/* slider-shoes-id */
.slider-shoes-id-thumbnail .swiper-slide-thumb-active {
	@apply opacity-100;
}

.alert-error {
	@apply my-3 p-3 rounded-lg bg-red-100 text-red-700;
}
.alert-success {
	@apply my-3 p-3 rounded-lg bg-green-100 text-green-700;
}

/* rating-review */
/* .review_item:checked,
.review_item:checked ~ .review_label {
	@apply text-lime-400;
}
.review_label:hover,
.review_label:hover ~ .review_label,
.review_label:checked ~ .review_label:hover {
	@apply text-lime-400;
} */

.review_item_reliability:checked,
.review_item_reliability:checked ~ .review_label_reliability {
	@apply text-lime-400;
}
.review_label_reliability:hover,
.review_label_reliability:hover ~ .review_label_reliability,
.review_label_reliability:checked ~ .review_label_reliability:hover {
	@apply text-lime-400;
}

.review_item_quality:checked,
.review_item_quality:checked ~ .review_label_quality {
	@apply text-lime-400;
}
.review_label_quality:hover,
.review_label_quality:hover ~ .review_label_quality,
.review_label_quality:checked ~ .review_label_quality:hover {
	@apply text-lime-400;
}

.review_item_photoMatching:checked,
.review_item_photoMatching:checked ~ .review_label_photoMatching {
	@apply text-lime-400;
}
.review_label_photoMatching:hover,
.review_label_photoMatching:hover ~ .review_label_photoMatching,
.review_label_photoMatching:checked ~ .review_label_photoMatching:hover {
	@apply text-lime-400;
}

.review_item_functionality:checked,
.review_item_functionality:checked ~ .review_label_functionality {
	@apply text-lime-400;
}
.review_label_functionality:hover,
.review_label_functionality:hover ~ .review_label_functionality,
.review_label_functionality:checked ~ .review_label_functionality:hover {
	@apply text-lime-400;
}

.review_item_impression:checked,
.review_item_impression:checked ~ .review_label_impression {
	@apply text-lime-400;
}
.review_label_impression:hover,
.review_label_impression:hover ~ .review_label_impression,
.review_label_impression:checked ~ .review_label_impression:hover {
	@apply text-lime-400;
}

/* private policy */
.policyInp:checked + .policySp {
	background-image: url("/assets/icons/check.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
